<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devices</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
   
    <link rel="stylesheet" href="/stylesheets/home.css">

</head>

<body class="d-flex text-center text-white bg-dark">
<div class="cover-container d-flex w-100 vh-100 p-3 mx-auto flex-column">
 
    <header class="mb-auto">
     <h2 style="font-size: 1.5vw">A tool for conducting systematic quality assessments of <br>Medical Devices and<br> In-Vitro Diagnostic Medical Devices</h2>
    </header>


    <main class="float-sm-left mb-3">
           
            <br>
            
            <h6 style= "padding-bottom: 3em; style="font-size: 1.5vw">based on the 'Medical Devices Regulation' <a style="color: rgb(247, 245, 242)" href="https://eur-lex.europa.eu/legal-content/EN/TXT/PDF/?uri=CELEX:32017R0745" target="_blank">(MDR)2017/745</a> - as issued by the European Union (EU),
                replacing the previous Medical Devices Directive 93/42/EEC and the current 'In-vitro Diagnostic Medical Devices Regulation' <a style="color: rgb(247, 245, 242)" href="https://eur-lex.europa.eu/legal-content/EN/TXT/PDF/?uri=CELEX:32017R0746" target="_blank">(IVDR)2017/746</a> - as issued by the European Union (EU), that replaced the previous (IVDD) Directive EU 98/79 EC </h6> 
   
   
            <br>
            <p><a class="button" href="/products">Go to Devices</a></p>
   
   
    </main>
        
        
        
        <footer class="mt-auto text-white">
            <p style="font-size: 12px">&copy; 2023 (pv)</p>
        </footer>


</div>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</body>

</html>
